<div class="filters">
  <label>Nom du produit:</label>
  <input type="text" [(ngModel)]="filterName" placeholder="Filter by name..." />
  <br/>

  <label>Plateforme:</label>
  <select [(ngModel)]="filterPlatform">
    <option *ngFor="let platform of platforms()" [value]="platform">{{ platform }}</option>
  </select>
  <br/>
  
  <label>Prix minimum:</label>
  <input type="number" [(ngModel)]="filterPriceMin" />
  <br/>

  <label>Prix maximum:</label>
  <input type="number" [(ngModel)]="filterPriceMax"/>
  <br/>
</div>
<app-product  *ngFor="let currentProduct of products() | catalog: getFilters()" 
              (onAddToCart)="addToCart($event)"
              [product]="currentProduct"
              ></app-product>
